.App {
  
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: rgba(255, 255, 255, 0.87);
  font-family: "Gill Sans", sans-serif;

}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

input[type=text],input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



input[type=submit],button {
  background-color: #BB86FC;
  font-weight: bolder;
  color: #121212;
  padding: 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px !important;
  width: auto;

}

input[type=submit]:hover, button:hover {

}

.logo{
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container{
  border-radius: 5px;
  background-color: rgba(255,255,255,0.16);
  margin: auto;
  width: 80%;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;

}

.status{
  background-color: rgba(255,255,255,0);
  text-align: right;
  font-size: calc(1px + 1vmin);
  font-weight: bolder;
  margin-bottom:0;
  padding-bottom:0;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.hidden-label {
  visibility: hidden;
  height: 0;
}

.error-label {
  color: red;
  font-size: calc(2px + 2vmin);
}